<div><h1 class="heading" #headingEle>Hello Angular</h1></div>

<div class="container">
  <form>
    <div class="input-wrapper">
      <label for="Text_color">Change the Text Color</label>
      <input
        type="color"
        class="color-input"
        id="Text_color"
        (input)="onTextColorChange()"
        #inputElementText
      />
    </div>

    <div class="input-wrapper">
      <label for="choose_box_color">Change the Background Color</label>
      <input
        type="color"
        class="color-input"
        name=""
        id="choose_box_color"
        (input)="onBoxColorChange()"
        #inputElementBox
      />
    </div>
  </form>

  <div class="box" #boxElement></div>
</div>
